[Unit]
Description=Container running Squid

[Container]
Image=ghcr.io/mpreu/squid:5.9
PublishPort=3128:3128
Volume=/etc/squid/squid.conf:/etc/squid/squid.conf:z
Volume=/etc/squid/direct.conf:/etc/squid/direct.conf:z
Volume=/etc/squid/proxy.conf:/etc/squid/proxy.conf:z
Volume=/etc/squid/forwarding.txt:/etc/squid/forwarding.txt:z
Network=podman

[Service]
Restart=always
# Extend timeout for image pulling.
TimeoutStartSec=120
ExecStartPost=/usr/lib/squid/enable
ExecStopPost=/usr/lib/squid/disable
